@model ICollection<SoTaggy.Web.Areas.Tagging.Models.TaggingReviewModel>
@{
    ViewBag.Title = "EndTagging";
}

<h4>Die Taggingg-Session ist beendet. <small>Folgende Werke wurden angezeigt:</small></h4>

<table class="table table-striped table-bordered">
    <tr>
        <th>Bild</th>
        <th>Beschreibung</th>
        <th>Eingegebene Schlagworte</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div><img src="@Url.Action("ShowThumnailImage", "Image", new { area="Admin", id = item.PoolImage.ArtworkId })" alt="@item.PoolImage.Title" style="height: 150px;width: auto"/></div>
        </td>
        <td>
            <h4>@item.PoolImage.Artist</h4>
            <p>@item.PoolImage.Title, @item.PoolImage.Dating</p>
            <p>@item.PoolImage.Technique, @item.PoolImage.Dimensions</p>
            <p>@item.PoolImage.ArtworkLibrary.Name</p>
            <p>&copy; @item.PoolImage.CopyrightOwner.Name</p>
        </td>
        <td>
            @foreach (SoTaggy.Web.Data.ArtworkTag tag in item.TaggingImage.Tags)
            {
                <div>@tag.Tag</div>
            }
        </td>
    </tr>
}

</table>

