@model IEnumerable<SoTaggy.Web.Data.ArtworkLibrary>

@{
    ViewBag.Title = "Index";
}

<h4>Sammlungen</h4>

<div class="well">
    @Html.ActionLink("Neue Sammlung anlegen", "Create", null, new { @class = "btn btn-success" })
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ArtworkLibraryId })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", new { id = item.ArtworkLibraryId })" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    }

</table>
